*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: lightblue;
}
.title{
    text-align: center;
    padding: 10px;
    font-size: 3vw;
}
ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    height: 25px;
}
ul li >ul,ul li ul li >ul{
    display: none;
}
ul li:hover >ul,ul li ul li:hover >ul{
    display: block;
    margin: 5px;
}
ul li ul li:hover >ul{
    margin-left: 80px;
}
li{
    font-size: 2vw;
}